/* ReviewCard.jsx section */

.review-form{
    width: 90%;
    margin: 3rem auto;
    background-color: grey;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #b1aeae30;

}

.review-input-group{
    width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
    font-size: 19px;
    height: 36px;
    margin-bottom: 16px;
}

.review-input-group label{
    text-align: end;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.review-input-group input, textarea {
    font-size: 19px;
    flex-grow: 1;
}
.review-msg-box {
    height: auto !important;
}


/* ReviewCard.jsx section */
.review-card{
    width: 20rem;
    border: 1px solid brown;
    border-radius: 4px;
    color: brown;
    box-shadow: 5px 3px 6px black;
    padding: 16px 4px;
    margin: 16px;
}

.close-btn{
    float: right;
    clear: both;
    margin-right: 12px;
    font-size: 20px;
}

.reviewer{
    margin-bottom: 16px;
}

.reviewer-rating{
    display: flex;
    justify-content: end;
    padding-right:16px ;
}

.review-submit-btn{
    padding: 8px 12px;
    background-color: black;
    color: white;
}