*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*For Home.jsx */
.card-container{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    gap: 16px;
    margin: 3rem 0;
}

/* For ProductPage.jsx */
.card-theatre-view{
    width: 90%;
    box-shadow: 2px 2px 4px 2px black;
    border: 2px solid brown;
    margin: 3rem auto;
    display: flex; 
    text-align: justify;
    padding: 1.5rem;
    position: relative;
}

.image-container{
    flex: .4;
    height: inherit;
    display: flex;
    align-items: center;
}
.image-container img {
    width: 100%;
}

.product-card-detail{
    padding-left: 1.5rem;
    flex: .6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media(max-width: 900px) {
    .card-theatre-view{
        flex-direction: column;
    }
    .image-container, .product-card-detail{
        width: 100%;
    }
}

.product-card-title{
font-size: 3rem;
}

.product-card-title span{
    cursor: pointer;
}
.product-card-price{
    font-size: 1.75rem;
    width: 100%;
    color: brown;
   
}
.product-card-price span{
    clear: both;
    float: right;
    margin-right: 2.25rem;
}

.product-card-description{
    font-size: 18px;
}

.size-options{
    display: flex;
    width: 100%;
    padding: 8px;
    gap: 12px;
    justify-content: flex-start;
}

.rating-container{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
.star{
    color: gold;
}

.card-share-btn{
    scale: 1.5;
    margin-left: 1.5rem;
    color: black;
}



.size-box{
    width: auto;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 12px;
}

.pre-review-heading,.review-container{
    width: 90%;
    margin: auto;
}
.review-container{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    justify-content: space-evenly;
}
