div:has(.arrow) {
    position: relative;
}

.arrow{
    z-index: 999;
    /* top: 300px !important; */
    margin: 0 2rem;
    scale: 1.6;
    opacity: .6;
}


.banner-img {
    width: 100%;
    height: 60vh;
    text-align: center;
    margin: auto;
    margin: 2vw;
    
  }